---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Props {
	initialCount?: number;
}

const { initialCount = 0 }: Props = Astro.props;
---

<div class="flex gap-2 justify-center items-center" x-data={`{ count: ${initialCount} }`}>
	<button x-on:click="count--">-</button>
	<pre x-text="count">{ initialCount }</pre>
	<button x-on:click="count++">+</button>
</div>

<div class="text-center">
	<slot />
</div>

